@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&display=swap');

body{
  background-color: #FFDFCD;
  font-family: 'Baloo Da 2', cursive!important;
}


/* css for custom scroll bar */
    /* Firefox */
    * {
      scrollbar-width: auto;
      scrollbar-color: #172554 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
      width: 8px;
  }

  *::-webkit-scrollbar-track {
      background: transparent;
  }

  *::-webkit-scrollbar-thumb {
      background-color: #172554;
      border-radius: 10px;
      border: 0px solid #add8e6;
  }

